# Core modules (mandatory)
jupyterlite-core==0.4.0
jupyterlab~=4.2.4
notebook~=7.2.1

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.4.1

pandas==2.2.2
numpy==1.26.4
matplotlib==3.5.1
scikit-learn==1.5.1